/* Movie Devices */
@media only screen and (max-width: 750px) {
  .player-1-container,
  .player-2-container {
    background-color: #03203c;
    font-size: 1.6rem;
    width: 20vw;
  }

  .main-heading {
    font-size: 2rem !important;
  }

  .game-container {
    padding-top: 80px;
    width: 60vw;
  }
}
